<ul class="pagination pagination-sm m-0 float-right">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <li class="page-item @prevDisabled"><a asp-action="Index" class="page-link">First</a></li>
    <li class="page-item @prevDisabled"><a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="page-link">&laquo; Prev</a></li>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (Model.PageIndex == 1)
        {
            if (i <= Model.PageIndex + 4)
            {
                if (i == Model.PageIndex)
                {
                    <li class="page-item active"><span class="page-link">@i</span></li>
                }
                else
                {
                    <li class="page-item"><a asp-action="Index" asp-route-pageNumber="@i" class="page-link">@i</a></li>
                }
            }
        }
        else if (Model.PageIndex == 2)
        {
            if (i <= Model.PageIndex + 3)
            {
                if (i == Model.PageIndex)
                {
                    <li class="page-item active"><span class="page-link">@i</span></li>
                }
                else
                {
                    <li class="page-item"><a asp-action="Index" asp-route-pageNumber="@i" class="page-link">@i</a></li>
                }
            }
        }
        else if (Model.PageIndex == Model.TotalPages)
        {
            if (i >= Model.PageIndex - 4)
            {
                if (i == Model.PageIndex)
                {
                    <li class="page-item active"><span class="page-link">@i</span></li>
                }
                else
                {
                    <li class="page-item"><a asp-action="Index" asp-route-pageNumber="@i" class="page-link">@i</a></li>
                }
            }
        }
        else if (Model.PageIndex == (Model.TotalPages - 1))
        {
            if (i >= Model.PageIndex - 3)
            {
                if (i == Model.PageIndex)
                {
                    <li class="page-item active"><span class="page-link">@i</span></li>
                }
                else
                {
                    <li class="page-item"><a asp-action="Index" asp-route-pageNumber="@i" class="page-link">@i</a></li>
                }
            }
        }
        else
        {
            if ((i >= (Model.PageIndex - 2)) && (i <= (Model.PageIndex + 2)))
            {
                if (i == Model.PageIndex)
                {
                    <li class="page-item active"><span class="page-link">@i</span></li>
                }
                else
                {
                    <li class="page-item"><a asp-action="Index" asp-route-pageNumber="@i" class="page-link">@i</a></li>
                }
            }
        }
    }
    <li class="page-item @nextDisabled"><a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="page-link">Next &raquo;</a></li>
    <li class="page-item @nextDisabled"><a asp-action="Index" asp-route-pageNumber="@(Model.TotalPages)" class="page-link">Last</a></li>
</ul>
