@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Password Information</h3>
    </div>
    <form asp-controller="Account" asp-action="ChangePassword" asp-route-returnurl="@ViewData["ReturnUrl"]">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <span asp-validation-for="Email" class="text-danger"></span>
            <div class="form-group">
                <label for="exampleInputEmail1">
                    @Html.DisplayNameFor(vm => vm.Email)
                </label>
                <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            <div class="form-group">
                <label for="exampleInputPassword1">
                    @Html.DisplayNameFor(vm => vm.CurrentPassword)
                </label>
                <input asp-for="CurrentPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Old Password">
            </div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
            <div class="form-group">
                <label for="exampleInputPassword1">
                    @Html.DisplayNameFor(vm => vm.NewPassword)
                </label>
                <input asp-for="NewPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password">
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <div class="form-group">
                <label for="exampleInputPassword1">
                    @Html.DisplayNameFor(vm => vm.ConfirmPassword)
                </label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm new Password">
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">Change Password</button>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
