@model PaginatedList<Faq>
@{
    ViewData["Title"] = "Faqs";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Faqs</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">#ID</th>
                            <th>Created By</th>
                            <th>Email</th>
                            <th>Question</th>
                            <th>Answer</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Question)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Answer)</td>
                                <td class="user-management">
                                    <div class="center-operations">
                                        <a asp-action="Details" asp-route-id="@item.Id"><i id="model-details" class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        <a asp-action="Edit" asp-route-id="@item.Id"><i id="edit-model" class="fa fa-edit" aria-hidden="true"></i></a>
                                        <a asp-action="Delete" asp-route-id="@item.Id"><i id="delete-model" class="fa fa-trash" aria-hidden="true"></i></a>
                                        <form asp-action="Delete" asp-route-id="@item.Id">
                                            <div class="form-actions no-color">
                                                <input type="submit" value="Delete" />
                                            </div>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <li class="page-item @prevDisabled"><a asp-action="Index" class="page-link">First</a></li>
                    <li class="page-item @prevDisabled"><a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="page-link">&laquo; Prev</a></li>
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (Model.PageIndex == 1)
                        {
                            if (i <= Model.PageIndex + 4)
                            {
                                if (i == Model.PageIndex)
                                {
                                    <li class="page-item active"><span class="page-link">@i</span></li>
                                }
                                else
                                {
                                    <li class="page-item"><a asp-action="Index" asp-route-pageNumber="@i" class="page-link">@i</a></li>
                                }
                            }
                        }
                        else if (Model.PageIndex == 2)
                        {
                            if (i <= Model.PageIndex + 3)
                            {
                                if (i == Model.PageIndex)
                                {
                                    <li class="page-item active"><span class="page-link">@i</span></li>
                                }
                                else
                                {
                                    <li class="page-item"><a asp-action="Index" asp-route-pageNumber="@i" class="page-link">@i</a></li>
                                }
                            }
                        }
                        else if (Model.PageIndex == Model.TotalPages)
                        {
                            if (i >= Model.PageIndex - 4)
                            {
                                if (i == Model.PageIndex)
                                {
                                    <li class="page-item active"><span class="page-link">@i</span></li>
                                }
                                else
                                {
                                    <li class="page-item"><a asp-action="Index" asp-route-pageNumber="@i" class="page-link">@i</a></li>
                                }
                            }
                        }
                        else if (Model.PageIndex == (Model.TotalPages - 1))
                        {
                            if (i >= Model.PageIndex - 3)
                            {
                                if (i == Model.PageIndex)
                                {
                                    <li class="page-item active"><span class="page-link">@i</span></li>
                                }
                                else
                                {
                                    <li class="page-item"><a asp-action="Index" asp-route-pageNumber="@i" class="page-link">@i</a></li>
                                }
                            }
                        }
                        else
                        {
                            if ((i >= (Model.PageIndex - 2)) && (i <= (Model.PageIndex + 2)))
                            {
                                if (i == Model.PageIndex)
                                {
                                    <li class="page-item active"><span class="page-link">@i</span></li>
                                }
                                else
                                {
                                    <li class="page-item"><a asp-action="Index" asp-route-pageNumber="@i" class="page-link">@i</a></li>
                                }
                            }
                        }
                    }
                    <li class="page-item @nextDisabled"><a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="page-link">Next &raquo;</a></li>
                    <li class="page-item @nextDisabled"><a asp-action="Index" asp-route-pageNumber="@(Model.TotalPages)" class="page-link">Last</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
